@model HomePlant.ViewModels.RegisterVM

<h2>@Localizer["Auth_Register_Title"]</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">

    <div class="mb-3">
        <label>@Localizer["Auth_FullName"]</label>
        <input asp-for="FullName"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>@Localizer["Auth_Email"]</label>
        <input asp-for="Email"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>@Localizer["Auth_Password"]</label>
        <input asp-for="Password"
               type="password"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>@Localizer["Auth_Phone"]</label>
        <input asp-for="Phone"
               class="form-control" />
    </div>

    <button class="btn btn-success">
        @Localizer["Auth_Register_Btn"]
    </button>

</form>