@model HomePlant.Models.CareLogModel

<h2>@Localizer["CareLog_Create_Title"]</h2>

<form method="post">

    <input type="hidden"
           name="plantId"
           value="@ViewBag.PlantId" />

    <div class="mb-3">

        <label>@Localizer["CareLog_Create_ActionType"]</label>

        <select asp-for="ActionType"
                class="form-control">

            <option value="Watering">
                @Localizer["CareLog_Create_ActionWatering"]
            </option>

            <option value="Fertilizing">
                @Localizer["CareLog_Create_ActionFertilizing"]
            </option>

            <option value="Repotting">
                @Localizer["CareLog_Create_ActionRepotting"]
            </option>

            <option value="Observation">
                @Localizer["CareLog_Create_ActionObservation"]
            </option>

        </select>

    </div>

    <div class="mb-3">

        <label>@Localizer["CareLog_Create_Note"]</label>

        <textarea asp-for="Note"
                  class="form-control">
        </textarea>

    </div>

    <button class="btn btn-success">
        @Localizer["CareLog_Create_SaveButton"]
    </button>

</form>